.Tables
    width: 200px
    height: calc( 100vh -  200px - 40.5px)
    overflow-y: scroll
    overflow-y: scroll
    display: block
    width: 100vw

    .TableLinesHead
        display: flex


    .TableLines
        width: 100%
        display: flex
        flex: 1

        .Line
            width: 25%
            &:first-child
                width: fit-content
        tr
            width: 25%


    .ButtonSvg
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        font-size: 1.5rem
