@use '../variables'
.Page
    display: flex
    justify-content: center
    align-items: center

    height: calc( 100vh - 50px  )
    width: 100%


    background: linear-gradient(variables.$blue-600, variables.$blue-100)

    .Formulary
        width: 500px

        display: flex
        flex-direction: column

        h1
            text-align: center
            text-transform: uppercase
            font-weight: bold
            color: variables.$blue-100
            text-shadow: 0 2px 1px variables.$blue-600

        p
            padding: 0.5rem
            background-color: variables.$blue-100
            color: variables.$blue-600
            border-radius: 5px

        label
            color: variables.$blue-100
            font-weight: bold
            text-shadow: 0 1px 1px variables.$blue-600
