@use '../variables'

.Page
    height: calc( 100vh - 50px  )
    display: flex
    align-items: center
    justify-content: center
    background: black

    .Formulary
        display: flex
        flex-direction: column
        align-items: center
        height: 500px
        width: 350px

        h1
            color: variables.$yellow-400
            font-size: 3rem
        input
            width: 95%
            padding: 0.5rem
            margin: 0.5rem 0


        .Logotype
            font-size: 8rem
            color: variables.$yellow-400
